*{margin: 0;padding:0;box-sizing: border-box;}
ul{list-style: none;}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/* 注意：这里图片路径是相对路径 */
body{
    background:rgba(248,247,243,1);
    height: 100%;
}
.container{
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
.container .top{
  margin-top: 130px;
  margin-bottom: 38px;
  margin-left: 192px;
  display: flex;
}
.top p{
  width:33%;
  height:60px;
  line-height:60px;
  font-size:45px;
  font-family:SourceHanSansSC-Bold;
  font-weight:bold;
  color:rgba(44,54,94,1);
  display: inline-block;
}
.top .line{
  display: inline-block;
  width:6%;
  height:1px;
  margin: 29px 0 29px 190px;
  border:1px solid rgba(44,54,94,1);
}
.top .number{
  display: inline-block;
  margin-left: 42px;
  width:8%;
  height:60px;
  line-height: 60px;
  font-size:80px;
  font-family:MyriadPro-Regular;
  font-weight:bold;
  color:rgba(240,157,131,1);
}
.center{
  width: 100%;
  overflow: hidden;
}
.center .nav{
  width: 192px;
  height: 210px;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: space-between;
}
.nav li a{
  font-size:14px;
  font-family:SourceHanSansSC-Regular;
  font-weight:400;
  color:rgba(169,163,158,1);
  text-decoration:none;
  margin-left: 60px;
}
.active a{
  color:rgba(44,54,94,1) !important;
  margin-left: 35px !important;
}
.active .line{
  display: inline-block;
  width: 20px;
  height: 1px;
  border:1px solid rgba(44,54,94,1);
}
/*轮播图*/
.center .BannerBox{
  width:700px;
  height:300px;
  overflow: hidden;
  float: left;
}
.swiper-container{
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-slide{
  background-repeat:no-repeat; 
  background-size:100% 100%;
}
/**/
.center .right{
  float: left;
  height: 300px;
  width: 60px;
  text-align: center;
  margin-left: 16px;
  position: relative;
  padding: 0 20px;
  background:rgba(245,177,156,1);
}
.right p{
  width: 20px;
  font-size:12px;
  font-family:Lato-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.container .content{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
.content p{
  text-align: center;
  line-height: 2;
  font-size:14px;
  font-family:SourceHanSansSC-Regular;
  font-weight:400;
  color:rgba(169,163,158,1);
}
.container .about-us{
  width: 800px;
  height: 600px;
  float: left;
  padding: 41px 54px 41px 110px;
  background-color: #ffffff;
}
.about-us p{
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  color:rgba(51,51,51,1);
}
.img{
  position: absolute;
  top:548px;
  right: 110px;
}
.footer{
  height: 100%;
}
.footer .right-warp{
  width: 60px;
  height: 68px;
  float: right;
  text-align: center;
  position: relative;
}
.tips{
  display: none;
  width: 140px;
  height: 140px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  position: absolute;
  top: -150px;
  left: -38px;
}
.footer .right-warp:hover .tips{
  display: block; 
}
.tips .webchat{
  width: 140px;
  height: 140px;
  background:url(../images/Wechat.jpeg) center center no-repeat;
  background-size: contain;
}
.logo{
  width: 36px;
  height: 36px;
  margin: 0 12px;
  object-fit: contain;
  background:url(../images/default.svg) center center no-repeat;
}
.logo:hover{
  background:url(../images/hover.svg) center center no-repeat; 
}
.item{
  margin-top: 6px;
  font-size: 12px;
  line-height: 1.67;
  color: #8c8e8f;
}
