*{margin: 0;padding:0;box-sizing: border-box;}
ul{list-style: none;}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/* 注意：这里图片路径是相对路径 */
body{
    background:rgba(248,247,243,1);
    height: 100%;
}
.container{
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
.container .top{
  margin-top: 130px;
  margin-bottom: 38px;
  margin-left: 192px;
  display: flex;
}
.top p{
  width:33%;
  height:60px;
  line-height:60px;
  font-size:45px;
  font-family:SourceHanSansSC-Bold;
  font-weight:bold;
  color:rgba(44,54,94,1);
  display: inline-block;
}
.top .line{
  display: inline-block;
  width:6%;
  height:1px;
  margin: 29px 0 29px 190px;
  border:1px solid rgba(44,54,94,1);
}
.top .number{
  display: inline-block;
  margin-left: 42px;
  width:8%;
  height:60px;
  line-height: 60px;
  font-size:80px;
  font-family:MyriadPro-Regular;
  font-weight:bold;
  color:rgba(240,157,131,1);
}
.center{
  width: 100%;
  overflow: hidden;
}
.center .nav{
  width: 192px;
  height: 210px;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: space-between;
}
.nav li a{
  font-size:14px;
  font-family:SourceHanSansSC-Regular;
  font-weight:400;
  color:rgba(169,163,158,1);
  text-decoration:none;
  margin-left: 60px;
}
.active a{
  color:rgba(44,54,94,1) !important;
  margin-left: 35px !important;
}
.active .line{
  display: inline-block;
  width: 20px;
  height: 1px;
  border:1px solid rgba(44,54,94,1);
}
/*轮播图*/
.center .BannerBox{
  width:700px;
  height:300px;
  overflow: hidden;
  float: left;
}
.swiper-container{
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-slide{
  background-repeat:no-repeat; 
  background-size:100% 100%;
}
/**/
.center .right{
  float: left;
  height: 300px;
  width: 60px;
  text-align: center;
  margin-left: 16px;
  position: relative;
  padding: 0 20px;
  background:rgba(245,177,156,1);
}
.right p{
  width: 20px;
  font-size:12px;
  font-family:Lato-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.container .content{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
.content p{
  text-align: center;
  line-height: 2;
  font-size:14px;
  font-family:SourceHanSansSC-Regular;
  font-weight:400;
  color:rgba(169,163,158,1);
}
.container .about-us{
  width: 800px;
  height: 600px;
  float: left;
  padding: 41px 54px 41px 110px;
  background-color: #ffffff;
}
.about-us p{
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  color:rgba(51,51,51,1);
}
.message{
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  width: 100%;
  height: 100%;
  position: relative;
}
.message h1 {
  text-align: center;
  line-height: 3;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  background-color: hsla(0, 100%, 60%, .8);
  -webkit-background-clip: text;
  animation: textColorRotate 5s linear infinite;
  letter-spacing:2px
}
.rainbow-box {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  margin: auto;
  width: 200px;
  height: 200px;
}
.rainbow-arc {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100px;
  box-sizing: border-box;
  overflow: hidden;
  transform-origin: 50% 100%;
  animation: rainbowMove 3s cubic-bezier(.58,-0.57,.5,1.66) infinite;
}
.rainbow-arc-main {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 150px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}
.rainbow-arc:nth-child(1) { 
  animation-delay: -50ms;
}
.rainbow-arc:nth-child(2) {
  animation-delay: -100ms;
}
.rainbow-arc:nth-child(3) {
  animation-delay: -150ms;
}
.rainbow-arc:nth-child(4) {
  animation-delay: -200ms;
}
.rainbow-arc:nth-child(5) {
  animation-delay: -250ms;
}
.rainbow-arc:nth-child(6) {
  animation-delay: -300ms;
}
.rainbow-arc:nth-child(7) {
  animation-delay: -350ms;
}

.rainbow-arc:nth-child(1) .rainbow-arc-main {
  border-color: hsla(0, 100%, 60%, .8);
  height: 200px;
  width: 200px;
  top: 10px;
}
.rainbow-arc:nth-child(2) .rainbow-arc-main {
  border-color: hsla(30, 100%, 60%, .8);
  height: 180px;
  width: 180px;
  top: 20px;
}
.rainbow-arc:nth-child(3) .rainbow-arc-main {
  border-color: hsla(60, 100%, 60%, .8);
  height: 160px;
  width: 160px;
  top: 30px;
}
.rainbow-arc:nth-child(4) .rainbow-arc-main {
  border-color: hsla(90, 100%, 60%, .8);
  height: 140px;
  width: 140px;
  top: 40px;
}
.rainbow-arc:nth-child(5) .rainbow-arc-main {
  border-color: hsla(120, 100%, 60%, .8);
  height: 120px;
  width: 120px;
  top: 50px;
}
.rainbow-arc:nth-child(6) .rainbow-arc-main {
  border-color: hsla(150, 100%, 60%, .8);
  height: 100px;
  width: 100px;
  top: 60px;
}
.rainbow-arc:nth-child(7) .rainbow-arc-main {
  border-color: hsla(180, 100%, 60%, .8);
  height: 80px;
  width: 80px;
  top: 70px;
}

@keyframes textColorRotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes rainbowMove {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.img{
  position: absolute;
  top:548px;
  right: 110px;
}
.footer{
  height: 100%;
}
.footer .right-warp{
  width: 60px;
  height: 68px;
  margin-right: 35px;
  float: right;
  text-align: center;
  position: relative;
}
.tips{
  display: none;
  width: 140px;
  height: 140px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  position: absolute;
  top: -150px;
  left: -38px;
}
.footer .right-warp:hover .tips{
  display: block; 
}
.tips .webchat{
  width: 140px;
  height: 140px;
  background:url(../images/Wechat.jpeg) center center no-repeat;
  background-size: contain;
}
.logo{
  width: 36px;
  height: 36px;
  margin: 0 12px;
  object-fit: contain;
  background:url(../images/default.svg) center center no-repeat;
}
.logo:hover{
  background:url(../images/hover.svg) center center no-repeat; 
}
.item{
  margin-top: 6px;
  font-size: 12px;
  line-height: 1.67;
  color: #8c8e8f;
}
.design_experence{
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  position: relative;
}
.box {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: 300px;
}
.box h1 {
  text-align: center;
}
.heart {
  position: relative;
  font-size: 0;
  width: 138px;
  margin: 50px auto;
}
.heart > div {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.h-line-4 {
  animation: h-line-move-4 3.8s infinite;
}
.h-line-3,
.h-line-5 {
  animation: h-line-move-3 3.8s infinite;
}
.h-line-2,
.h-line-6 {
  animation: h-line-move-2 3.8s infinite;
}
.h-line-1,
.h-line-7 {
  animation: h-line-move-1 3.8s infinite;
}
.h-line-0,
.h-line-8 {
  animation: h-line-move-0 3.8s infinite;
}
.h-line-0 {
  left: 0px;
  animation-delay: 0s;
  background-color: #3cba92;
  filter: hue-rotate(20deg);
}
.h-line-1 {
  left: 17px;
  animation-delay: 0.15s;
  background-color: #3cba92;
  filter: hue-rotate(40deg);
}
.h-line-2 {
  left: 34px;
  animation-delay: 0.3s;
  background-color: #3cba92;
  filter: hue-rotate(60deg);
}
.h-line-3 {
  left: 51px;
  animation-delay: 0.45s;
  background-color: #3cba92;
  filter: hue-rotate(80deg);
}
.h-line-4 {
  left: 68px;
  animation-delay: 0.6s;
  background-color: #3cba92;
  filter: hue-rotate(100deg);
}
.h-line-5 {
  left: 85px;
  animation-delay: 0.75s;
  background-color: #3cba92;
  filter: hue-rotate(120deg);
}
.h-line-6 {
  left: 102px;
  animation-delay: 0.9s;
  background-color: #3cba92;
  filter: hue-rotate(140deg);
}
.h-line-7 {
  left: 119px;
  animation-delay: 1.05s;
  background-color: #3cba92;
  filter: hue-rotate(160deg);
}
.h-line-8 {
  left: 136px;
  animation-delay: 1.2s;
  background-color: #3cba92;
  filter: hue-rotate(180deg);
}
@keyframes h-line-move-4 {
  0%,
  10%,
  90%,
  100% {
    height: 10px;
    top: -5px;
  }
  45%,
  55% {
    height: 94px;
    top: -23px;
  }
}
@keyframes h-line-move-3 {
  0%,
  10%,
  90%,
  100% {
    height: 10px;
    top: -5px;
  }
  45%,
  55% {
    height: 90px;
    top: -31px;
  }
}
@keyframes h-line-move-2 {
  0%,
  10%,
  90%,
  100% {
    height: 10px;
    top: -5px;
  }
  45%,
  55% {
    height: 80px;
    top: -37px;
  }
}
@keyframes h-line-move-1 {
  0%,
  10%,
  90%,
  100% {
    height: 10px;
    top: -5px;
  }
  45%,
  55% {
    height: 60px;
    top: -31px;
  }
}
@keyframes h-line-move-0 {
  0%,
  10%,
  90%,
  100% {
    height: 10px;
    top: -5px;
  }
  45%,
  55% {
    height: 30px;
    top: -15px;
  }
}
